{% extends "base.html" %}

{% block app_content %}
    {% for school in syncedschools %}

        {% include '_schoolstatus.html' %}

    {% endfor %}

       <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer Schools
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Older Schools <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>

{% endblock %}